.side-bar {
  background-color: #212529;
  min-width: 200px;
}

body, html, #root{
  height: 100vh;
}

main {
  padding: 0% 1%;
}

@media screen and (min-width: 768px) {
  #main-row {
    height: 100%;
  }
}
